.default {
    flex-flow: row nowrap;
}
.reverse {
    flex-flow: row-reverse nowrap;
}

.slip {
    transition: 0.3s;
    margin-bottom: 1rem;
    padding: 8px;
    display: flex;
    justify-content: space-between;
}

.slip:hover {
    transform: scale(1.05);
}

.slipContainer {
    display: flex;
    width: 100%;
}

.avatarContainer {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 0.5em;
}

.slipBody {
    position: relative;
    margin: 0 0.5rem;
    width: 100%;
    background: var(--color-white);
    color: var(--color-deepGrey);
    padding: 0.8rem;
    border-radius: 0.4rem;
    word-break : break-all;
    text-align: right;
    box-shadow: 3px 3px 5px rgba(0, 37, 55, 0.03);

    display: flex;
    flex-flow: column;
}

.slipInfo {
    display: flex;
    align-items: baseline;
    gap: 1em;
}

.slipUsername {
    font-size: 0.7rem;
    font-weight: 300;
    color: var(--color-blue);
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.slipName {
    font-size: 0.75rem;
    font-weight: 500;
}
.slipDate {
    font-size: 0.6rem;
    font-weight: 300;
}

.slipUsername {
    cursor: pointer;
    transition: 200ms;
}

.slipUsername:hover {
    background: var(--color-yellow);
}

.slipDate {
    color: var(--color-darkGrey);
}

.slipContent {
    padding: 0.8em 0.2em 0 0;
    font-size: 0.9rem;
    font-weight: 300;
    width: calc(100% - 2rem);
    align-self: end;
}

.slipAction {
    width: 2rem;
    height: 100%;
    position: absolute;
    top: 0; left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.slipActionBtn {
    fill: var(--color-darkGrey);
    color: var(--color-darkGrey);
    transition: transform 300ms;
    padding: 0.4rem 0;
    opacity: 0.8;
}

.slipActionBtn :first-child{
    width: 0.7rem;
}

.slipActionBtn:hover {
    transform: scale(1.5);
    color: var(--color-blue);
}